
h1 {
  font-size:50px;
  text-align:center;
  font-family: 'Tangerine', serif;
  text-decoration:underline;
}

body {
  background-image:url('../media/anarchy.jpg');
  background-color:black;
}

form {
  font-size:24px;
  margin-left: 0.5%;
  font-family: 'Tangerine', serif;
}

table {
  table-layout:fixed;
  overflow:hidden;
  width:99%;
  margin-left:auto;
  margin-right:auto;
  border-collapse:collapse;
  border:3px solid black;
}

.Map {
  text-align:center;
  font-size:.5em;
}

span.SeedWrap {
  background-color:white;
  display:inline-block;
  padding:3px;
  padding-bottom:1px;
  margin-bottom: 5px;
  border: 1px solid black;
}
span.Seed {
  font-size:20px;
  font-family: 'Julius Sans One', sans-serif;
  color:black;
  text-align:center;
}
