@import url(//fonts.googleapis.com/css?family=Lato:700);
@import url(//fonts.googleapis.com/css?family=Sigmar+One);
body {
   margin:0;
   font-family:'Lato', sans-serif;
   text-align:center;
   color: #999;
}
 .welcome {
   width: 300px;
   height: 200px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -150px;
   margin-top: -100px;
 }
 h1 {
     font-family: 'Sigmar One', cursive;
     font-size: 32px;
 }
 a, a:visited {
     text-decoration:none;
 }
